* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
.content {
  height: 100vh;
  margin-top: 20px;
}

.timer {
  color: white;

  padding: 1rem;

  text-align: center;
  font-size: 5rem;
}
.btn-box {
  color: white;
  margin: 20px 40px;
  text-align: center;
}
.btn {
  padding: 1rem;
  width: fit-content;
  border: none;
  box-shadow: 5px 5px 10px gray;
  background-color: white;
  margin: 20px;
  cursor: pointer;
  font: bold 2rem sans-serif;
  border-radius: 50%;
}
